@model List<AUSIntermediate.Solution.Web.MVC.Models.UserModel>

<div class="container"> 
    <div class="row py-4">
        <div class="">
            <h1 class="text-badge-primary">Users</h1>
        </div>
    </div>

    <div class="row py-4">
        <div class="col-md-6">
            <a class="btn btn-secondary"  asp-controller="User" asp-action="Create" ><i class="fas fa-user"></i> New User </a>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row py-4">
         @if (Model.Count() > 0)
          {
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Date of birth</th>
                        <th>Email Address</th>
                        <th>Contact Number</th>
                         
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.Surname</td>
                            <td>@user.DateOfBirth.ToShortDateString()</td>
                            <td>@user.Email</td>
                            <td>@user.Contact</td>
                            <td class="text-center">
                                <a asp-route-Id="@user.UserId" asp-action="Details" class="btn btn-outline-secondary">
                                   <i class="fa fa-eye" aria-hidden="true"></i> View Details
                                </a>
                                <a asp-route-Id="@user.UserId" asp-action="Edit" class="btn btn-outline-primary">
                                    <i class="fas fa-user-edit"></i> Edit
                                </a>                                
                                @*<a asp-route-Id="@user.UserId" asp-action="Delete" class="btn btn-outline-danger">
                                   <i class="fa fa-trash" aria-hidden="true"></i> Remove
                                </a> *@
                                <a class="btn btn-outline-danger delete"
                                      data-id="@user.UserId" data-controller="User"
                                      data-action="delete"
                                      data-body-message="Are you sure you want to remove @user.Name"
                                      data-return-url ="user/delete">
                                   <i class="fa fa-trash" aria-hidden="true"></i> Remove
                                </a>
                            </td>
                        </tr>
                      }
                </tbody>
            </table> 

          }
         else
         {
            <p> No application type exists.</p>
         }
    </div>
</div>




